---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./article/*.{md,mdx}')).filter((post) => !post.frontmatter.draft).sort(
	(a, b) => new Date(b.frontmatter.updatedDate).valueOf() - new Date(a.frontmatter.updatedDate).valueOf()
);

---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li time {
				flex: 0 0 130px;
				font-style: italic;
				color: #888;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<div class="w-1/3 mx-auto">
				<ul>
					{posts.map((post) => (
						<li>
							<time datetime={post.frontmatter.updatedDate} class="text-base text-right mr-4">
								{new Date(post.frontmatter.updatedDate).toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'short',
									day: 'numeric',
								})}
							</time>
							<a href={post.url} class="text-base">{post.frontmatter.title}</a>
						</li>
					))}
				</ul>
			</div>
			<Footer />
		</main>
	</body>
</html>
