---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props as Props;
---

<html>
	<head>
		<BaseHead title={title} description={description} />
		<style is:global>
			p {
				@apply text-base;
				@apply leading-8;
				@apply indent-8;
				@apply mb-3 !important;
			}
			ul {
				@apply list-disc;
				@apply px-12;
			}

			ul li {
				@apply leading-8;
			}
			.footnotes {
				@apply mt-6;
			}
			ol {
				@apply list-decimal;
				@apply ml-8;
			}
			pre {
				@apply mx-16 !important;
				@apply mb-3 !important;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				{heroImage && (
					<img
						width={720}
						height={360}
						src={heroImage}
						alt=""
					/>
				)}
				<div class="container mx-auto w-3/5">
					<h1 class="text-2xl my-3">{title}</h1>
					{pubDate && <time>{pubDate}</time>}
					{updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
					<hr class="h-2" />
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
