---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props as Props;
---

<html>
	<head>
		<BaseHead title={title} description={description} />
		<style is:global>
			h1 {
				@apply text-2xl !important;
				@apply font-bold !important;
				@apply mb-3 !important;
			}

			h2 {
				@apply text-xl !important;
				@apply font-bold !important;
				@apply mb-3 !important;
			}

			h3 {
				@apply text-lg !important;
				@apply font-bold !important;
				@apply mb-3 !important;
			}
			p {
				@apply text-base;
				@apply leading-8;
				@apply indent-8;
				@apply mb-3 !important;
			}
			ul {
				@apply list-disc;
				@apply px-12;
			}

			ul li {
				@apply leading-8;
			}
			.footnotes {
				@apply mt-10;
			}
			ol {
				@apply list-decimal !important;
				@apply ml-8 !important;
			}
			pre {
				@apply w-2/3;
				@apply p-3 !important;
				@apply mx-auto !important;
				@apply mb-3 !important;
				@apply rounded-xl;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				{heroImage && (
					<img
						width={720}
						height={360}
						src={heroImage}
						alt=""
					/>
				)}
				<div class="container mx-auto w-3/5">
					<div class="text-2xl my-3 font-bold">{title}</div>
					{updatedDate && <div class="text-base my-1">Last updated on <time>{updatedDate}</time></div>}
					<hr class="h-2" />
					<div class="mt-3">
						<slot />
					</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
